<h1><%= @user.username %>'s Profile</h1>
<%= gravatar_for @user, size: 200 %>

<% if logged_in? && @user == current_user %>
    <div> <%= link_to 'Edit your profile', edit_user_path(@user) %></div>
    <div> <%= link_to 'Delete your profile', user_path(@user), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></div>
<% end %>

<h3>Articles</h3>
<%= render 'articles/article' %>